body{
    margin: 0; 
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../img/img3.png);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.login-form{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 390px;
} 
.login-form h1{
    margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"]{

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}
.login-form button{
    padding: 10px 20px;
    background-color: rgb(25, 140, 229);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.fieldset{
    padding: 10px;
    width: 400px;
}
@media (min-width: 601px) {
    .login-form h1 {
        font-size: 2rem;
    }

    .container {
        min-height: 80vh; 
    }

    fieldset {
        padding: 5vh;
    }
}

@media (min-width: 901px) {
    .container {
        width: 50%;
    }
}
